<h1>{{title}}</h1>
{{#if filename}}
   <p>{{filename}}</p>
{{/if}}
   
<form method='post' action='/' enctype="multipart/form-data">
  <input type="text" name="vin" id="vin" placeholder="Enter the car's VIN to see its history">
    <!-- <input type='file' name='fileUploaded'> -->
    <input type='submit'>
</form>

<div id="map-canvas"></div>

<script id="mapdata" type="application/json">
    {{{mapdata}}}
</script>

<script type="text/javascript">

function getLocationData (map) {
  $.ajax({
    url: 'http://bou-ats-traci.prodno.osl.basefarm.net:8000/ats/location', 
    success: function (data, textStatus, jqXHR) {
      console.log(data);
      drawPolygons(map, data);
    }
  });
}

function drawPolygons(map, zones){
  if (zones){
    var renderReadyPolygons = [];  
    $.each(zones, function (id, polygon){
        var coords = [];
        for (var i = 0; i < 4; i++) {
          var index = i + 1;
          var latitude = polygon['latitude' + index];
          var longitude = polygon['longitude' + index];
          coords.push(new google.maps.LatLng(latitude, longitude));
        }
        // $.each(polygon.points, function (id, point){
        //     coords.push(new google.maps.LatLng(point.latitude, point.longitude));
        //   });
        
        renderReadyPolygons.push({
            "name" : polygon.name,
            "coords" : coords,
            "polygon" : new google.maps.Polygon({
                paths: coords,
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.35
              })});
      });

    $.each(renderReadyPolygons, function(ix, polygon){
        polygon.polygon.setMap(map);
        
        //Define position of label
        var bounds = new google.maps.LatLngBounds();
        for (var i=0; i< polygon.coords.length; i++) {
          bounds.extend(polygon.coords[i]);
        }
        
        var myLatlng = bounds.getCenter();
        
        var mapLabel = new MapLabel({
            text: polygon.name,
            position: myLatlng,
            map: map,
            fontSize: 20,
            align: 'left'
          });
      });
      }     
}

function drawHistory(map) {
  var actions = null;
  try {
    actions = JSON.parse($("#mapdata").html());
  } catch (e) {

  }
  if (actions != null && actions.length > 0) {
      var infowin = new google.maps.InfoWindow();

    for (var i = 0; i < actions.length; i++) {
      var action = actions[i];
      
      var contentString = '<div>' +
                            ((action.type) ? '<h1>Action ' + (i+1) + ': ' + action.type + '</h1>' : '<h1>Action ' + (i+1) + '</h1>') +
                            ((action.user && action.user.name) ? '<p>User name: ' + action.user.name + '</p>' : '<p>No registered user</p>') +
                            ((action.date) ? '<p>Executed @ ' + action.date + '</p>' : '<p>No date available</p>') +
                            ((action.location && action.location.name) ? '<p>Zone name: ' + action.location.name + '</p>' : '<p>No known zone</p>') +
                          '</div>';

      // var infowindow = new google.maps.InfoWindow({
      //   content: contentString
      // });

      var marker = new google.maps.Marker({
          position: new google.maps.LatLng(action.location.latitude, action.location.longitude),
          map: map,
          title: action.type
      });

      google.maps.event.addListener(marker, 'click', (function(marker, content, infowindow) {
            return function() {
                infowindow.setContent(content);
                infowindow.open(map, marker);
            }
        })(marker, contentString, infowin));

    }
  }

}

function initialize() {    
  //draw the map
  var mapOptions = {
    center: new google.maps.LatLng(59.74846, 10.24901),
    zoom : 17,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  
  var map = new google.maps.Map(document.getElementById('map-canvas'),
                                mapOptions);

  getLocationData(map);
  drawHistory(map);
  // drawPolygons(map);
  
}    

google.maps.event.addDomListener(window, 'load', initialize);
</script>

