<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js">
        </script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" ></script>
        <script src="javascripts/maplabel.js"></script>
        <style type="text/css">
        html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
        </style>
        
    </head>
    <body>
        {{{body}}}
  </body>
</html>
